html {

  font-size: 62.5%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {

  background-color:#f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

fieldset {

  height: 60rem;
  width: 45rem;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.096);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.255);
}

.header {
  width: 100%;
  height: 23rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tamanho-icone {
  height: 65px;
  width: 65px;
  background-color:#6da8fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;


}

.tamanho-icone img {
  height: 90%;
  width: 90%;
}

.titulo {
  font-size: 2.4em;
  margin: 0;
  padding: 1rem;
  ;
}

.sub-titulo {
  margin: 0;
  font-size: 1.4rem;
  color: #6b7280;
}

.delimitador {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 30rem;
  margin: 0 auto;
  padding-top: 2rem;
}

label {
  font-size: 1.7rem;
  margin: 0 0 0 2rem;
  padding: 0;
  font-weight: 500;

}

input {
  margin: 0;
  height: 3.3rem;
  border: 1px solid rgba(0, 0, 0, 0.414);
  border-radius: 6px;
  width: 90%;
  margin: 0 auto;
}

.caixa-link{
  display: flex;
  justify-content: flex-end;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  padding-right: 2rem ;
}